# banco de dados - sqlite

In [1]:
import os

#bpp
os.remove("escola.db") if os.path.exists("escola.db") else None #exclui o bd criado anteriormente

In [2]:
import sqlite3

In [4]:
#criar conexao com o banco de dados
#se o banco nao existir, ele é criado
conexao = sqlite3.connect("escola.db")

In [5]:
type(conexao)

sqlite3.Connection

In [6]:
# cursor permite percorrer todos os registros do banco de dados
cur = conexao.cursor()

In [7]:
type(cur)

sqlite3.Cursor

In [10]:
# codigo da tabela a ser criada
sql_create = 'create table escola'\
'(id integer primary key, '\
'titulo varchar(100),'\
'categoria varchar(140))'

In [11]:
#execucao da criacao da tabela 'escola'
cur.execute(sql_create)

In [26]:
# funcao de inserir registros via cursor
sql_insert = 'insert into escola values (?, ?, ?)'

In [27]:
dados = [(1000, "Ciência de Dados", "Data Science"),
         (1001, "Big Data Fundamentos", "Data Science"),
         (1002, "Python Fundamentos", "Data Science")]

In [28]:
for d in dados:
    cur.execute(sql_insert, d)

In [29]:
# abriu a conexao, criou tabela, adicionou registros e por fim devemos commitar
# para que os registros sejam gravados
conexao.commit()

In [30]:
# funcao de busca de registros 
sql_select = 'select * from escola'

In [31]:
cur.execute(sql_select)
retorno = cur.fetchall()

In [33]:
for r in retorno:
    print("Id do curso: %s\nTítulo: %s\nCategoria: %s\n\n" %r)

Id do curso: 1000
Título: Ciência de Dados
Categoria: Data Science


Id do curso: 1001
Título: Big Data Fundamentos
Categoria: Data Science


Id do curso: 1002
Título: Python Fundamentos
Categoria: Data Science

In [34]:
dados = [(1003, "Ciência de Dados 2.0", "Data Science"),
         (1004, "Big Data Fundamentos 2.0", "Data Science"),
         (1005, "Python Fundamentos 2.0", "Data Science")]

for d in dados:
    cur.execute(sql_insert, d)

conexao.commit()

In [35]:
cur.execute('select * from escola')

for r in cur.fetchall():
    print("Id do curso: %s\nTítulo: %s\nCategoria: %s\n\n" %r)

Id do curso: 1000
Título: Ciência de Dados
Categoria: Data Science


Id do curso: 1001
Título: Big Data Fundamentos
Categoria: Data Science


Id do curso: 1002
Título: Python Fundamentos
Categoria: Data Science


Id do curso: 1003
Título: Ciência de Dados 2.0
Categoria: Data Science


Id do curso: 1004
Título: Big Data Fundamentos 2.0
Categoria: Data Science


Id do curso: 1005
Título: Python Fundamentos 2.0
Categoria: Data Science

In [36]:
#fechar a conexao bpp
conexao.close()