# sqlite

In [1]:
import os
os.remove('dsa.db') if os.path.exists('dsa.db') else None

In [2]:
import sqlite3

#cria a conexao com o banco de dados
conn = sqlite3.connect('dsa.db')

In [3]:
# cria o cursor
cur = conn.cursor()

In [32]:
import datetime

def criar_tabela():
    cur.execute("CREATE TABLE IF NOT EXISTS produto"\
                "(id integer primary key autoincrement not null, "\
                "date text,"\
                "prod_name text,"\
                "valor real)"
               );

def inserir_dados():
    cur.execute("INSERT INTO produto values (1,'2020-02-19 18:00:00', 'teclado', 90)");
    conn.commit()
    cur.close()
    conn.close()

def inserir_dados_variaveis(nome, valor):
    data = datetime.datetime.now()
    cur.execute("INSERT INTO produto (date, prod_name, valor) values (?, ?, ?)", (data, nome,valor));
    conn.commit()

def retornar_coluna(n):
    cur.execute("SELECT * FROM produto")
    for c in cur.fetchall():
        print(c[n])

def update_valor(v, nome):
    cur.execute("UPDATE produto SET valor = ? where prod_name = ?", (v, nome))
    conn.commit()
    
def excluir_teclado():
    cur.execute("DELETE FROM produto where prod_name = 'teclado'")
    conn.commit()

In [5]:
criar_tabela()
inserir_dados()

In [21]:
conn = sqlite3.connect('dsa.db')
cur = conn.cursor()

In [7]:
cur.execute("SELECT * FROM produto")

In [8]:
d = cur.fetchall()
print(d)

[(1, '2020-02-19 18:00:00', 'teclado', 90.0)]

In [17]:
inserir_dados_variaveis('mouse', 50)

In [18]:
cur.execute("SELECT * FROM produto")
print(cur.fetchall())

[(1, '2020-02-19 18:00:00', 'teclado', 90.0), (2, '2020-02-19 19:24:44.311681', 'mouse', 50.0)]

In [22]:
retornar_coluna(2)

teclado
mouse

In [24]:
update_valor(100, 'teclado')

In [25]:
cur.execute("SELECT * FROM produto")
print(cur.fetchall())

[(1, '2020-02-19 18:00:00', 'teclado', 100.0), (2, '2020-02-19 19:24:44.311681', 'mouse', 50.0)]

In [35]:
excluir_teclado()

In [36]:
cur.execute("SELECT * FROM produto")
print(cur.fetchall())

[(2, '2020-02-19 19:24:44.311681', 'mouse', 50.0)]

In [37]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [44]:
x = list(range(100, 1000, 100))

for y in x:
    inserir_dados_variaveis('antivirus', y)

In [46]:
cur.execute("SELECT * FROM produto")
x = cur.fetchall()

for y in x:
    print(y)

(2, '2020-02-19 19:24:44.311681', 'mouse', 50.0)
(3, '2020-02-19 20:10:21.241508', 'antivirus', 100.0)
(4, '2020-02-19 20:10:21.254498', 'antivirus', 200.0)
(5, '2020-02-19 20:10:21.273549', 'antivirus', 300.0)
(6, '2020-02-19 20:10:21.283495', 'antivirus', 400.0)
(7, '2020-02-19 20:10:21.293395', 'antivirus', 500.0)
(8, '2020-02-19 20:10:21.303563', 'antivirus', 600.0)
(9, '2020-02-19 20:10:21.317863', 'antivirus', 700.0)
(10, '2020-02-19 20:10:21.327311', 'antivirus', 800.0)
(11, '2020-02-19 20:10:21.337348', 'antivirus', 900.0)

In [47]:
cur.close()
conn.close()