# potência

In [1]:
2 ** 2

4

# hexadecimal e binário

In [2]:
hex(394)

'0x18a'

In [3]:
bin(394)

'0b110001010'

# outras

In [6]:
abs(-3.879)

3.879

In [5]:
pow(2,2)

4

In [7]:
round(3.879)

4

In [8]:
round(3.789456, 2)

3.79

# variáveis

In [9]:
my_test

NameError: name 'my_test' is not defined

In [10]:
my_test = 1

In [11]:
my_test

1

In [12]:
print(my_test)

1

In [13]:
nome1, nome2, nome3 = "tainara", "camila", "zacarias"

In [14]:
print(nome1+" "+nome2+" "+nome3)

tainara camila zacarias

# strings

In [15]:
s = "tainara camila zacarias"

In [16]:
s[:3]

'tai'

In [17]:
s[:]

'tainara camila zacarias'

In [18]:
s[2:]

'inara camila zacarias'

In [19]:
s[:-1]

'tainara camila zacaria'

In [20]:
s[-1]

's'

In [21]:
s[-10]

'a'

In [22]:
s[-10:]

'a zacarias'

# retorna com intervalo (slice)

In [24]:
s[::1]

'tainara camila zacarias'

In [25]:
s[::2]

'tiaacml aais'

In [26]:
s[::3]

'tnaalzaa'

# multiplicação de string

In [28]:
operador = 'w'

In [29]:
operador * 3

'www'

# funções

In [30]:
x = 'tainara'

In [31]:
x.upper()

'TAINARA'

In [32]:
x.lower()

'tainara'

In [36]:
x = x + " camila"

In [37]:
x.split()

['tainara', 'camila']

In [39]:
x.capitalize()

'Tainara camila'

In [40]:
x.count('a')

5

In [41]:
x.find('c')

8

In [42]:
x.islower()

True

In [44]:
x.isspace()

False

In [45]:
x.endswith('a')

True

In [46]:
x == 'teste'

False

# lista

In [47]:
lista = ['1', 'a', "tainara"]

In [48]:
print(lista)

['1', 'a', 'tainara']

In [49]:
lista[1] = 'abc'

In [50]:
print(lista)

['1', 'abc', 'tainara']

In [51]:
del lista[0]

In [52]:
print(lista)

['abc', 'tainara']

In [53]:
lista2 = [[1,2,3], [4,5,6], [7,8,9]]

In [54]:
print(lista2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [55]:
print(lista2[2])

[7, 8, 9]

In [56]:
print(lista2[2][0])

7

In [57]:
print(lista2[2][0]+2)

9

In [58]:
print(lista2[0][0]+10)

11

In [59]:
'abc' in lista

True

In [60]:
lista.append('camila')

In [61]:
lista.append('camila')

In [62]:
lista.count('camila')

2

In [63]:
lista.extend(['zacarias', '123'])
print(lista)

['abc', 'tainara', 'camila', 'camila', 'zacarias', '123']

In [64]:
lista.index('camila')

2

In [65]:
lista.remove('camila')

In [66]:
lista.reverse()

In [67]:
lista

['123', 'zacarias', 'camila', 'tainara', 'abc']

In [68]:
lista.sort()

In [69]:
lista

['123', 'abc', 'camila', 'tainara', 'zacarias']

# dicionário

In [70]:
dicionario = { 'tainara':25, 'wagner':24}

In [71]:
print(dicionario)

{'tainara': 25, 'wagner': 24}

In [72]:
print(dicionario['tainara'])

25

In [73]:
dicionario['tainara'] = 26

In [74]:
print(dicionario['tainara'])

26

In [75]:
dicionario['talissa'] = 15

In [76]:
dicionario

{'tainara': 26, 'wagner': 24, 'talissa': 15}

In [77]:
len(dicionario)

3

In [78]:
dicionario.keys()

dict_keys(['tainara', 'wagner', 'talissa'])

In [79]:
dicionario.values()

dict_values([26, 24, 15])

In [80]:
dicionario.items()

dict_items([('tainara', 26), ('wagner', 24), ('talissa', 15)])

In [81]:
dicionario2 = {'renan':24, 'brenda':22}

In [82]:
dicionario.update(dicionario2)
print(dicionario)

{'tainara': 26, 'wagner': 24, 'talissa': 15, 'renan': 24, 'brenda': 22}

In [96]:
dicionario['1'] = 'tainara'
dicionario['1'].upper()

'TAINARA'

In [97]:
dicionario['lista'] = [1,2,3]

In [98]:
dicionario['lista']

[1, 2, 3]

In [99]:
dicionario

{'tainara': 26,
 'wagner': 24,
 'talissa': 15,
 'renan': 24,
 'brenda': 22,
 '1': 'tainara',
 'lista': [1, 2, 3]}

# tuplas

In [100]:
tupla = ('elemento', 1, [1,2,3])
tupla

('elemento', 1, [1, 2, 3])

In [101]:
len(tupla)

3

In [102]:
tupla[1:]

(1, [1, 2, 3])

In [103]:
tupla.index('elemento')

0

In [104]:
print('Convertendo uma tupla para lista')
lt = list(tupla)
lt

Convertendo uma tupla para lista

['elemento', 1, [1, 2, 3]]

In [105]:
lt.append('teste')

In [106]:
print('Convertendo uma lista para tupla')
tupla2 = tuple(lt)
tupla2

Convertendo uma lista para tupla

('elemento', 1, [1, 2, 3], 'teste')